@import './css/normalize.css';

:root {
  /* dims */
  --min-desktop: 1170px;
  --max-desktop: 1280px;
  --max-item-width: 1050px;
  --nav-height: 3em;
  --nav-height-mobile: 2em;
  --socials: 3em;

  /* text */
  --txtSize12px: 0.75em;
  --txtSize14px: 0.875em;
  --txtSize16px: 1em;

  --lineHeight20px: 1.25em;
  
  /* colours */
  /* https://coolors.co/palette/ffbe0b-fb5607-ff006e-8338ec-3a86ff */
  --clr-1: rgb(157, 199, 179);
  --clr-1-g: radial-gradient(circle, rgba(157,199, 179, 1) 0%, rgba(122,156,140,1) 95%);
  --clr-1-a: rgba(14, 149, 135, 0.5);
  --clr-2: rgb(85, 36, 29);
  --clr-2-a: rgba(85, 36, 29, 0.5);
  --clr-2-b: rgb(12, 5, 4);
  --clr-3: rgb(167 75 51);
  --clr-4: rgb(78 65 135);
  --clr-5: rgb(212, 195, 195);
  --clr-6: rgb(224, 231, 190);
  --clr-7: rgb(121, 255, 0);
  --clr-8: #0077B5;
  --clr-10: #fff;

  /* misc */
  --borderR: 3px;
}

@custom-media --extra-small-device (width <= 375px);
@custom-media --small-device (width <= 480px);
@custom-media --medium-device (width <= 768px);
@custom-media --large-device (width > 768px);
@custom-media --extra-large-device (width > 1100px);


@keyframes monkeyswing {
  from {
    rotate: -10deg;
  }
  to {
    rotate: 10deg;
  }
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-display: swap;

  & .sr-only {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }

  & * {
    font-display: swap;
  }

  & #unsupported {
    display: none;
    position: absolute;
    background: var(--clr-10);
    color: var(--clr-2);
    padding: 10px;
    border: var(--borderR);
    z-index: 1;
    top: 4em;
    margin: auto;
    left: auto;
    right: auto;
  }
  &.unsupported #unsupported {
    display: block;
  }

  & h1 {
    text-align: center;
    user-select: none;
    padding: 0;
    margin: auto;
    text-align: center;
    color: transparent;

    @media(--small-device) {
      padding: 0 20px;
      & span {
        font-size: clamp(1rem, 4rem, 5rem);
        line-height: 3rem;
      }
      &::before {
        position: relative;
        z-index: 2;
        width: calc(100% + 40px);
        background-position: 50% 50%;
        top: auto;
        bottom: -4rem;
        left: -20px;
      }
    }
    @media(--extra-small-device) {
      font-size: 3.75rem;
      line-height: 3.25rem;
    }
  }

  #strapline {
    position: sticky;
    bottom: 0;
    text-align: center;
    color: var(--clr-10);
    font-weight: 100;
  }

  & ul {
    padding: 0 0 0 1em;
    li {
      font-size: 0.9em;
      margin: 0 0 0.9em 0;
    }
  }

  dialog {
    padding: 30px;
    font-size: 1em;
    color: var(--clr-2);
    max-width: 500px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 5px var(--clr-2-a);
    &::backdrop {
      background: rgba(0,0,0,0.3);
      backdrop-filter: blur(1px);
    }
    & p {
      text-align: center;
    }
    & button {
      font-size: 1.5em;
      position: absolute;
      appearance: none;
      border: none;
      background: transparent;
      right: 10px;
      top: 10px;
    }
  }

  & a {
    text-decoration: none;
  }

  & .ico {
    display: inline-block;
    width: 4em;
    height: 4em;
    color: var(--clr-3);
    &.bars {
      background: svg-load("img/bars.svg", fill=var(--clr-2-b)) no-repeat;
    }
  }

  & #mainNav {
    transition: all 500ms ease-out;
    border-bottom: 1px solid transparent;
    will-change: opacity;
    z-index: 3;
    box-shadow: 0px 0px 15px var(--clr-2-a);
    &.scrolled {
      background-color: var(--clr-10);
      border-bottom-color: var(--clr-2-a);
    }
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    transform: translateZ(0);
    position: fixed;
    width: 100%;
    height: var(--nav-height);
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
    @media(--small-device) {
      flex-direction: row-reverse;
      height: 3em;
    }

    & a {
      padding: 10px 20px;
      text-decoration: none!important;
      color: var(--clr-10);
      font-weight: 500;
      font-size: var(--txtSize14px);
      transition: 700ms background-color;
      @media(--small-device) {
        color: var(--clr-2-b);
        font-size: 1.25em;
      }
      &:hover,
      &:active {
        color: var(--clr-10);
        background: var(--clr-2);
      }
    }
    &.scrolled a {
      color: var(--clr-2);
      &:hover,
      &:focus {
        color: var(--clr-10);
        background: var(--clr-3);
      }
    }

    & button {
      display: none;
      background: svg-load("img/bars.svg", fill=#0c0504) no-repeat;
      width: 1.7em;
      height: 1.7em;
      padding: 1em;
      @media(--small-device) {
        display: block;
        margin-right: 5%;
        border: none;
        outline: none;
        & i {
          color: var(--clr-3);
          font-size: 1.25em;
        }
        &:focus {
          background: svg-load("img/bars.svg", fill=var(--clr-2-b)) no-repeat;
        }
      }
      @media(--small-device) {
        margin-left: 1em;
      }
    }

    & #home {
      background: svg-load("img/logo_icon.svg");
      background-repeat: no-repeat;
      background-color: var(--clr-10);
      background-size: calc(var(--nav-height) - 10px);
      background-position: center;
      width: var(--nav-height);
      height: var(--nav-height);
      padding: 0;
      margin: 0 0 0 10px;
      border-radius: var(--borderR);
      @media(--small-device) {
        margin-right: 1em;
        width: var(--nav-height-mobile);
        height: var(--nav-height-mobile);
        background-size: var(--nav-height-mobile);
      }
    }

    & #navBar {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      padding: 0 1em;
      width: 100%;
      will-change: transform;

      & ul {
        padding: 0;
        list-style: none;
        display: flex;
        margin: auto 0 auto auto;

        li {
          margin: 0;
        }
      }
      @media(--small-device) {
        position: fixed;
        background: var(--clr-10)!important;
        border-bottom: 1px solid var(--clr-2-b);
        z-index: -1;
        width: 100%;
        padding: 0;
        left: 0;
        top: calc(var(--nav-height-mobile) + 1em);
        transform: matrix3d(1,0,0,0,0,0,1,0.001,0,-1,0,0,0,0,1000,1);
        transform-origin: 50% 0%;
        perspective: 460;
        perspective-origin: 50% 50%;
        transition: 333ms transform ease-out;
        
        &[aria-hidden=""],
        &[aria-hidden="false"]{
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,1000,1);
        }
        & ul {
          margin: 0;
          flex-direction: column;
          li {
            display: flex;
          }
        }
      }
    }
  }
  & body {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 400,
      "GRAD" 0;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    background: var(--clr-1-g);
    background-attachment: fixed;
    color: var(--clr-2-b);

    & a {
      color: var(--clr-2-b);
      text-decoration: underline;
    }

    & #page-top {
      height: 100vh;
      height: 100dvh;
      display: flex;
      flex: 1 1 auto;
      padding: 0;;
      color: var(--clr-10);
      background-image: url(~/src/img/home.jpg);
      background-size: cover;
      background-position: center;
      text-align: center;
      overflow: hidden;

      & .header-content {
        width: 100%;
        height: 100%;
        display: flex;
        @media(--small-device) {
          max-width: 100%;
        }

        & .header-content-inner {
          background: svg-load("img/logo.svg") no-repeat center;
          background-size: contain;
          background-color: var(--clr-1);
          border-radius: 50%;
          height: 400px;
          width: 400px;
          margin: auto auto auto 20vw;
        }

        & p.subheading {
          text-align: right;
          text-transform: uppercase;
          margin: 0.25rem 0 0 0;
          font-size: 0.95rem;
        }
        & hr {
          margin: 0;
          border-color: var(--clr-3);
        }
        & a {
          color: var(--clr-3);
          font-weight: 600;
        }
        & .header-content-inner {
          position: relative;
          @media(--medium-device) {
            margin: auto auto auto 10vw;
          }
          @media(--small-device) {
            height: 250px;
            width: 250px;
            margin: auto;
          }
        }
        & .header-content-inner-sections {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          & div {
            display: flex;
            flex-direction: column;
          }
          &:first-of-type {
            text-align: right;
          }
          @media(--small-device) {
            padding: 0 20px;
          }
        }
      }
    }
    & section, & aside {
      padding: 15px 0;
      height: fit-content;
      min-height: 100vh;
      min-height: 100dvh;
      &:last-of-type {
        padding-bottom: 0;
      }
    }

    /* Sections */

    /* About */
    & #main-content {
      color: var(--clr-2);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media(--small-device) {
        overflow-x: hidden;
        flex-direction: column;
        padding-bottom: 0;
      }

      & .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: var(--min-desktop);
        height: 100vh;
        height: 100dvh;
        display: flex;
        flex-direction: column;  
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        @media(--small-device) {
          flex-direction: column;
          max-width: 95%;
        }
        & .copy {
          display: flex;
          flex-direction: column;
          max-width: 50%;
          max-height: 100%;
          overflow-y: auto;
          @media(--small-device) {
            max-width: 100%;
            padding: 0 0 20px 0;
          }
          &::after {
            position: absolute;
            background-repeat: no-repeat;
            content: "";
            background-size: cover;
            background-position: center;
            width: calc(50% - 20px);
            height: 100%;
            top: 0;
            right: 0;
            @media(--small-device) {
              position: static;
              background-position: center top;
              height: 100vh;
              width: calc(100% + 40px);
              margin: 10px 0 0 -20px;
            }
          }
        }

        &#about .container-header .copy::after {
          background-image: url(~/src/img/img13.jpg);
          @media(--small-device) {
            background-position: center;
          }
        }
        &#reflexology .container-header .copy::after {
          background-image: url(~/src/img/img12.jpg);
        }
        &#eft .container-header .copy::after {
          background-image: url(~/src/img/img8.jpg);
          background-position: center right;
        }
        &#reiki .container-header .copy::after {
          background-image: url(~/src/img/img5.jpg);
        }
        &#price-list .container-header .copy::after {
          background-image: url(~/src/img/img11.jpg);
          @media(--small-device) {
            background-position: center;
          }
        }
        &#contact .container-header .copy::after {
          background-image: url(~/src/img/img9.jpg);
        }

        & h2 {
          font-weight: 700;
          margin: 0 0 1rem 0;
          @media(--small-device) {
            padding-top: 1rem;
            font-size: var(--txtSize14px);
          }
        }
        & p {
          margin-top: 0;
          font-size: var(--txtSize14px);
          line-height: var(--lineHeight20px);
          @media(--small-device) {
            font-size: var(--txtSize12px);
          }
        }

        & span.icon {
          display: block;
          width: 5em;
          height: 5em;
          background-size: contain;
          background-repeat: no-repeat;
          &.eft {
            background-image: svg-load("img/logo_eft.svg");
          }
          &.aor {
            background-image: svg-load("img/logo_aor.svg");
          }

        }
        
        & .socials {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          & li a {
            display: block;
            width: var(--socials);
            height: var(--socials);
            background-size: contain;
            background-repeat: no-repeat;
            &.facebook {
              background-image: svg-load("img/logo_facebook.svg");
            }
            &.instagram {
              background-image: svg-load("img/logo_instagram.svg");
            }
          }
        }
        & .container-header {
          overflow: hidden;
          position: relative;
          background: var(--clr-10);
          width: 100%;
          max-width: var(--max-item-width);
          max-width: min(var(--max-item-width), 85vw);
          height: max(20em, min(70vh, 40em));
          padding: 40px 20px;
          border-radius: 10px;
          box-shadow: 0px 3px 5px var(--clr-2-a);
          @media(--small-device) {
            padding: 0;
            flex: 0 1 auto;
            height: max(20em, min(85vh, 40em));
            max-width: min(var(--max-item-width), 100vw);
            & > * {
              padding-left: 20px;
              padding-right: 20px;
            }
          }
          &.reverse .copy {
            margin: 0 0 0 auto;
            &::after {
              right: auto;
              left: 0;
            }
          }
        }
      }
    }
  }
  #map {
    height: clamp(20em, 60vh, 30em);
    width: clamp(20em, 50vw, 30em);
    overflow: hidden;
  }

  footer {
    color: var(--clr-10);
    font-size: var(--txtSize12px);
    & a {
      color: var(--clr-10);
    }
    padding: 10px;
  }
}
